#grid {
	border: 3px solid #000;
	font-family: verdana;
	font-weight: bold;
	font-size: 20px;
	color: #FFF;
	background:linear-gradient(to bottom, #2a0f99 10%, #3b10e8 100%);
	cursor: pointer;
}

#header {
	font-family: BankGothic Md BT, fantasy;
	font-size: 40px;
	text-align: center;
	text-shadow:0px 0px 8px #FF0;
	color: #FFF;
}

#subheader {
	font-family: BankGothic Md BT, fantasy;
	font-size: 35px;
	text-align: center;
	text-shadow:0px 0px 8px #FF0;
	color: #FFF;
}

html, body {
	margin: 0;
	height: 40%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#bt-yellow {
	padding: 1em;
	width: 120px;
	border: 0px solid;
	border-radius:40px;
	display:inline-block;
	cursor:pointer;
	-webkit-transition: .5s;
	transition: .5s;
	font-family: verdana;
	font-weight:bold;
	font-size: 16px;
	padding:6px 10px;
	box-shadow: 0px 3px 8px #000;
	background:linear-gradient(to bottom, #F90 10%, #F2ED00 100%);
	color: #000;
}

#default_button {
	padding: 1em;
	min-width: 180px;
	max-width: 300px;
	border: 0px solid #000;
	border-radius: 0px;
	display:inline-block;
	cursor:pointer;
	-webkit-transition: .5s;
	transition: .5s;
	font-family: Humnst777 BT, calibri, arial;
	font-size: 18px;
	padding:6px 10px;
	text-decoration:none;
	box-shadow: 0px 3px 8px #000;
	background:linear-gradient(to bottom, #003e83 10%, #0063d0 100%);
	color: #FFF;
}

#default_button:hover {
	background:linear-gradient(to bottom, #0157b7 10%, #0078fc 100%);
	-webkit-transition: .5s;
	transition: .5s;
	color: #000;
}

.fundo {
	background-color: #0a131a;
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}

footer {
	font-family: verdana;
	font-size: 14px;
	color: #FFF;
	text-align: right;
	text-shadow:0px 0px 8px #FF0;
	padding-bottom: 3em;
	padding-top: 12em;
	padding-right: 3em;
}
