.fundo {
	background-color: #0a131a;
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}
.bg {
	padding: 1em;
	background-color: white;
	background-size: 1550px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	margin-left: auto;
	margin-right:auto;
	width: 420px;
	height: 420px;
}
#start {
	padding: 1em;
	min-width: 100px;
	max-width: 100px;
	border-radius: 10px;
	display:inline-block;
	cursor:pointer;
	-webkit-transition: .5s;
	transition: .5s;
	font-family: Humnst777 BT, calibri, arial;
	font-size: 18px;
	padding:6px 10px;
	text-decoration:none;
	box-shadow: 0px 3px 8px #000;
	background:linear-gradient(to bottom, #AAA 25%, #CCC 75%);
	color: #000;
}

#start:hover {
	background:linear-gradient(to bottom, #67ba09 25%, #81e212 75%);
	-webkit-transition: .5s;
	transition: .5s;
	color: #FFF;
}
/* CSS Copiado */
body {
	margin: 0;
}
#puzzle{
	position: absolute;
	width: 420px;
	height: 420px;
	border: 1px solid black;
}
#mapa1{
	width: 98px;
	height: 68px;
	background: url(../public/img/mapa1.png) no-repeat;
	float: left;
	text-align: center;
	font-size: 28px;
	padding-top: 30px;
}
#mapa2{
	width: 98px;
	height: 68px;
	background: url(../public/img/mapa2.png) no-repeat;
	float: left;
	text-align: center;
	font-size: 28px;
	padding-top: 30px;
}
#mapa3{
	width: 98px;
	height: 68px;
	background: url(../public/img/mapa3.png) no-repeat;
	float: left;
	text-align: center;
	font-size: 28px;
	padding-top: 30px;
}
#mapa4{
	width: 98px;
	height: 68px;
	background: url(../public/img/mapa4.png) no-repeat;
	float: left;
	text-align: center;
	font-size: 28px;
	padding-top: 30px;
}
#mapa5{
	width: 98px;
	height: 68px;
	background: url(../public/img/mapa5.png) no-repeat;
	float: left;
	text-align: center;
	font-size: 28px;
	padding-top: 30px;
}
#mapa6{
	width: 98px;
	height: 68px;
	background: url(../public/img/mapa6.png) no-repeat;
	float: left;
	text-align: center;
	font-size: 28px;
	padding-top: 30px;
}
#mapa7{
	width: 98px;
	height: 68px;
	background: url(../public/img/mapa7.png) no-repeat;
	float: left;
	text-align: center;
	font-size: 28px;
	padding-top: 30px;
}
#mapa8{
	width: 98px;
	height: 68px;
	background: url(../public/img/mapa8.png) no-repeat;
	float: left;
	text-align: center;
	font-size: 28px;
	padding-top: 30px;
}
.pecasNOT{
	width: 98px;
	height: 98px;
	float: left;
}
