<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SlideQuest</title>
	<link rel="icon" href="../favicon-16x16.png">
	<link href="../public/css/fases.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
<h1>Slide Quest</h1>
<h1 id="subheader">Selecione o modo em que pretende jogar</h1>
</div>
<div id="form">
	<table class="stages" align="center">
		<a href="minijogo.html" id="game_button" title="Minigame-Chuva de Verão">Mini-Jogo</a><br>
		<a href="n1.html" id="game_button" title="Inicia o jogo no modo normal">Modo Normal</a><br>
		<a href="contratempo.html" id="game_button" title="Inicia o modo contra o relógio">Contra o Tempo</a>
	</table>
<br>
</div>
<div id="form">
	<a href="menu.html" id="default_button" title="Voltar ao menu">Voltar</a>
</div>
</body>
</html>
