<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SlideQuest</title>
	<link rel="icon" href="../favicon-16x16.png">
	<link href="../public/css/fases.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
<h1>Slide Quest</h1>
<h1 id="subheader">Selecione uma Fase</h1>
</div>
<div id="form">
	<table class="stages" align="center">
	<tr>
		<a href="jogo.html" id="game_button" title="Chuva de Verão">1</a>
		<a href="slidequest.html" id="game_button" title="Slide Quiz">2</a>
	</tr>
	</table>
<br>
</div>
<div id="form">
	<a href="menu.html" id="default_button">Voltar</a>
	<a href="jogo.html" id="default_button">Jogar</a>
</div>
</body>
</html>
