<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SlideQuest - Jogo</title>
	<link href="../public/css/jogo.css" type="text/css" rel="stylesheet">
	<script src="../public/js/Jquery.js"></script>
	<script src="../public/js/funcoes.js"></script>
</head>
<body class="fundo">
<div id="subheader">
<h1>Jogo <i>Chuva de Verão</i></h1>
</div>
<div class="bg">
	<div class="inicio" onclick="start();">
		<h1>Instruções</h1><br>
		<p>Clique nas teclas que estão caindo para eliminá-las.</p>
		<p>Cada tecla concede 10 pontos quando eliminada.</p>
		<p>Não deixa as teclas passarem da zona de risco!</p>
		<p>Cada tecla que escapar desconta uma vida.</p>
		<p>Boa Sorte!</p><br>
		<h3>Clique aqui para iniciar</h3>
	</div>
	<div id="laser"></div>
	<div id="linha5">5 Pontos</div>
	<div id="linha10">10 Pontos</div>
	<div id="linha15">15 Pontos</div>
	<div id="linha20">20 Pontos</div>
	<div id="tecla_A"><br></div>
	<div id="tecla_B"><br></div>
	<div id="tecla_C"><br></div>
	<div id="tecla_D"><br></div>
	<div id="tecla_E"><br></div>
	<div class="fim" onclick="reiniciar();"></div>
</div>
<div id="placar" onload="pontos()"></div>
<div id="tempo" onload="cronos()"></div>
<div id="saude" onload="vidas()"></div>
<div id="buttonrow">
<a href="menu.html" id="default_button">Sair</a>
<a href="jogo.html" id="default_button">Reiniciar</a>
<button name="btnProximaFase" id="default_button">Proxima Fase</button>
</div>
<footer>
	Version 0.2 &copy; Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>
