<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Jogo</title>
	<link href="../public/css/jogo.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
<div id="subheader">
<h1>Estágio <i>1/20</i></h1>
</div>
<div>
<a href="menu.html"><button name="btnSair" id="default_button">Sair</button></a>
<a href="jogo.html"><button name="btnReiniciar" id="default_button">Reiniciar</button></a>
<button name="btnProximaFase" id="default_button">Proxima Fase</button>
<footer>
	Version 0.2 &copy Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>