<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SlideQuest - Informações Legais</title>
	<link href="../public/css/creditos.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<h1 id="subheader">&copy; Licenças e direitos autorais &copy;</h1>
	<div class="alinhamento">
		<h1 id="subheader">Fontes</h1>
	<div class="license">
		<h2 id="NOZ_sample">NOZSTUDIO</h2>
		<p>Fonte NOZSTUDIO. Propietário: Raul Queiroz (Alias: 1OGRO)</p><br>
		<a href="https://www.dafont.com/pt/raul-queiroz.d2599">Link</a>
	</div><br>
	<div class="license">
		<h2 id="dig_sample">04b_19</h2>
		<p>Fonte 04b_19. Propietário: Yuji Oshimoto (Alias: 04)</p><br>
		<a href="https://www.dafont.com/pt/04.d4">Link</a>
	</div><br>
	<div class="license">
		<a href="https://incompetech.com/">Incompetech</a>
	</div>
</div>
	<a href="menu.html" id="default_button">Voltar</a><br>
<footer>
	Version 0.3 &copy; Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>