<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SlideQuest - Menu Principal</title>
	<script src="../public/js/intro.js"></script>
	<link rel="icon" href="../favicon-16x16.png">
	<link href="../public/css/design.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<h1 id="subheader">Menu Principal</h1>
	<div id="form">
		<a href="jogo.html" id="default_button" title="Inicia o Mini-jogo Chuva de Verão. Aviso: Este não é o jogo original">Mini Jogo</a><br>
		<a href="fases.html" id="default_button">Escolher a Fase</a><br>
		<a href="configuracoes.html" id="default_button">Configurações</a><br>
		<a href="creditos.html" id="default_button">Creditos</a><br>
		<a href="tutorial.html" id="default_button">Tutoriais</a><br>
		<a href="home.html" id="default_button">Sair</a>
	</div>
<object data="../public/sons/Funkorama.mp3" width="0" height="0">
	<param name="wmode" value="transparent"/>
</object>
<footer>
	Version 0.3 &copy; Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>
