<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Menu Principal</title>
	<link href="../public/css/design.css" type="text/css" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>
<body class="fundo">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<h1 id="subheader">Menu Principal</h1>
	<div id="form">
		<ul>
		<li><a href="jogo.html"><button name="btnJogar" id="default_button" title="Inicia o mini-jogo 'O Pianista'.">Jogar</button></a></li>
		<li><a href="fases.html"><button name="btnFases" id="default_button">Escolher a Fase</button></a></li>
		<li><a href="configuracoes.html"><button name="btnConfig" id="default_button">Configurações</button></a></li>
		<li><a href="creditos.html"><button name="btnCreditos" id="default_button">Creditos</button></a></li>
		<li><a href="tutorial.html"><button name="btnConfig" id="default_button">Tutoriais</button></a></li>
		<li><a href="home.html"><button name="btnSair" id="default_button">Sair</button></a></li>
	</ul>
	</div>
<footer>
	Version 0.2 &copy Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>
