<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SlideQuest - Jogo</title>
	<link rel="icon" href="../favicon-16x16.png">
	<link href="../public/css/minijogo.css" type="text/css" rel="stylesheet">
	<script src="../public/js/Jquery.js"></script>
	<script src="../public/js/funcoes.js"></script>
</head>
<body class="fundo">
<div id="subheader">
<h1>Jogo <i>Chuva de Verão</i></h1>
</div>
<div class="bg">
	<div class="inicio" onclick="start();">
		<h1>Instruções</h1><br>
		<p>Clique nas estrelas que estão caindo para eliminá-las.</p>
		<p>Quanto mais próximo da linha vermelha, maior os pontos</p>
		<p>Não deixa as teclas passarem da zona de risco!</p>
		<p>Cada tecla que escapar desconta uma vida.</p>
		<p>Boa Sorte!</p><br>
		<b>♫ Fones de ouvido Recomendados ♫</b>
		<h3>Clique aqui para iniciar</h3>
	</div>
	<div id="laser"></div>
	<div id="linha5">5</div>
	<div id="linha10">10</div>
	<div id="linha15">15</div>
	<div id="linha20">20</div>
	<div id="tecla_A"><br></div>
	<div id="tecla_B"><br></div>
	<div id="tecla_C"><br></div>
	<div id="tecla_D"><br></div>
	<div id="tecla_E"><br></div>
	<div class="fim" onclick="start();"></div>
</div>
<div id="placar" onload="pontos()"></div>
<div id="tempo" onload="cronos()"></div>
<div id="saude" onload="vidas()"></div>

<audio src="../public/sons/DD_Groove.mp3" preload="auto" id="musica"></audio>

<div id="buttonrow">
	<a href="menu.html" id="default_button">Sair</a>
	<a href="jogo.html" id="default_button">Reiniciar</a>
	<a href="fases.html" id="default_button">Selecionar Fase</a>
</div>
<footer>
	Version 0.3 &copy; Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>
