<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>SlideQuest - Jogo</title>
	<meta name="description" content="">
	<meta name="author" content="Clube dos Geeks">
	<link rel="icon" href="../favicon-16x16.png">
	<link rel="stylesheet" href="../public/css/puzzle.css">
	<script type="text/javascript" src="../public/js/Jquery.js"></script>
	<script type="text/javascript" src="../public/js/puzzle.js"></script>
</head>
<body class="fundo">
<div class="bg">
	<div id="puzzle">
		<div id="mapa1"></div>
		<div id="mapa2"></div>
		<div id="mapa3"></div>
		<div id="mapa4"></div>
		<div id="mapa5"></div>
		<div id="mapa6"></div>
		<div id="mapa7"></div>
		<div id="mapa8"></div>
	</div>
</div>
<button id="start" onclick="start();">Iniciar</button>
</body>
</html>
