<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Tutoriais</title>
	<link href="../public/css/design.css" type="text/css" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>
<body class="fundo">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<h1 id="subheader">Tutoriais</h1>
	<div id="form">
		<h3>O Pianista: </h3>
		<p>O Objetivo do jogo é ir eliminando as teclas que vem
		caindo.<br> 
		Você deve sobreviver cinco minutos sem deixar que
		as vidas acabem.<br>
		Quanto mais tempo você segurar, maior os
		pontos, mas mais arriscado fica pois a tecla pode escapar</p>
	</div>
<a href="menu.html"><button name="btnSair" id="default_button">Voltar</button></a>
<footer>
	Version 0.2 &copy Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>
