<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SlideQuest - Tutoriais</title>
	<link rel="icon" href="../favicon-16x16.png">
	<link href="../public/css/tutorial.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<h1 id="subheader">Tutoriais</h1>
	<div id="form">
		<h3>Como jogar</h3>
		<p>Mova a cesta com A e D, ou as Setas ← e →.<br> 
		Colete os itens com a borda verde para ir acumulando pontos</p>
		<p>Evite os itens com a borda vermelha, pois eles descontam vidas</p>
	</div><br>
<div id="lista">
	<h1>Itens</h1>
	<div id="maca" title="Maçã"></div>
	<p>Maçã: Concede 100 pontos</p>
	<div id="laranja" title="Laranja"></div>
	<p>Laranja: Concede 100 pontos</p>
	<div id="melao" title="Melão"></div>
	<p>. Melão: Concede 300 pontos</p>
	<div id="donut" title="Rosquinha"></div>
	<p id="ng1">Rosquinha: Desconta uma vida</p>
	<div id="refri" title="refri"></div>
	<p id="ng2">Refrigerante: Desconta uma vida</p>
</div>
<div id="buttonrow">
<a href="menu.html" id="default_button">Voltar</a>
</div>
<footer>
	Version 0.3 &copy; Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>
