<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Tutoriais</title>
	<link href="../public/css/design.css" type="text/css" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>
<body class="fundo">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<h1 id="subheader">Tutoriais</h1>
	<div id="form">
		<h3>O Pianista: </h3>
		<p>O Objetivo do jogo é ir eliminando as teclas que vem
		caindo.<br> 
		Quanto mais tempo você segurar, maior os
		pontos, mas mais arriscado fica pois a tecla pode escapar</p><br>
		<p>Eliminar as teclas prematuramente concede 1 ponto</p><br>
		<p>Abaixo da linha azul, as teclas valem 5 pontos</p><br>
		<p>Abaixo da linha verde, as teclas valem 10 pontos</p><br>
		<p>Abaixo da linha amarela, as teclas valem 15 pontos</p><br>
		<p>Abaixo da linha laranja, as teclas valem 20 pontos</p><br>
		<p>Ao chegar na linha vermelha, a tecla desconta uma vida</p><br>
	</div>
<a href="menu.html"><button name="btnSair" id="default_button">Voltar</button></a>
<footer>
	Version 0.2 &copy Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>
